<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <title>JTA-JIRA Test Audit</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="#" class ="aui-icon aui-icon-small aui-iconfont-jira"/>
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.10.1/css/aui.min.css" media="all" />
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.10.1/css/aui-experimental.min.css" media="all" />
    <link rel="stylesheet" href="/css/app.css" media="all" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.10.1/js/aui.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.10.1/js/aui-experimental.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.10.1/js/aui-datepicker.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.10.1/js/aui-soy.min.js"></script>
</head>
<body>
<div id="page">
    <header id="header" role="banner">
        <nav class="aui-header aui-dropdown2-trigger-group" role="navigation">
            <div class="aui-header-inner">
                <div class="aui-header-primary">
                    <h1 id="logo" class="aui-header-logo"><a href="#"><span class="aui-header-logo-device"><img src="/images/jta.png"/></span></a></h1>
                    <ul class="aui-nav">
                        <li><a style="color:white" href="/listCategories">Category View</a></li>
                        <li><a style="color:white" href="/listSuites">Suite View</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section id="content" role="main">
        <div ng-app="app">
            <div class="aui-page-panel">
                <div class="aui-page-panel-inner">
                    <section class="aui-page-panel-content">

                        <form th:if="${testCount}" class="aui" style="position: relative; z-index: 1;" name="form" action="/listCategories">
                            <div class="search-div">
                                <input style="width: 500px" type="text" class="text search-field" name="search" th:value="${search}"/>
                                <span class="aui-icon aui-icon-small aui-iconfont-search-small search-icon" onclick="form.submit()"></span>
                            </div>
                        </form>

                        <form th:if="${testList}" class="aui" style="position: relative; z-index: 1;" name="form" action="/listTests">
                            <div class="search-div">
                                <input style="width: 500px" type="text" class="text search-field" name="search" th:value="${search}"/>
                                <input th:if="${cat}" th:value="${cat}" type="hidden" name="cat" />
                                <input th:if="${type}" th:value="${type}" type="hidden" name="type" />
                                <span class="aui-icon aui-icon-small aui-iconfont-search-small search-icon" onclick="form.submit()"></span>
                            </div>
                        </form>

                        <div th:if="${testCount}">
                            <table class="aui" role="grid">
                                <thead>
                                <tr role="row" class="tablesorter-headerRow">
                                    <th class="aui-table-column-test-name" role="columnheader">
                                        Category</th>
                                    <th class="aui-table-column-test-name">
                                        Number of tests</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="row : ${rows}">
                                    <td class="column-style" headers="name">
                                        <a th:if="${categories}" th:text="${row.entry}" th:href="@{/listTests(cat=${row.entry})}" />
                                        <a th:if="${types}" th:text="${row.entry}" th:href="@{/listTests(type=${row.entry})}" />
                                    </td>
                                    <td class="column-style" headers="total" th:text="${row.total}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                        <div th:if="${testList}">
                            <table class="aui" role="grid">
                                <thead>
                                <tr role="row" class="tablesorter-headerRow">
                                    <th class="aui-table-column-test-name" role="columnheader">Test</th>
                                    <th class="aui-table-column-test-name" role="columnheader">Test Class</th>
                                    <th class="aui-table-column-test-name" role="columnheader">Type</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="t : ${test.tests}">
                                    <td class="column-style" headers="name"><a th:text="${t.name}" th:href="${t.sourceUrl}" /></td>
                                    <td class="column-style" headers="name" nowrap="true"><a th:text="${t.testClass}" th:href="${t.sourceUrl}" /></td>
                                    <td class="column-style" headers="name"><a th:text="${t.jar}" th:href="@{/listTests(type=${t.jar})}" /></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                    </section>
                </div>
            </div>

        </div>
    </section>
    <footer id="footer" role="contentinfo">
        <section class="footer-body">
            <ul>
                <li><a href="https://extranet.atlassian.com/display/QA/JIRA+ATSLAT+Audit">About JTA</a></li>
            </ul>
            <div id="footer-logo"><a href="http://www.atlassian.com/" target="_blank">Atlassian</a></div>
        </section>
    </footer>
</div>
</body>

</html>
